{%load static%}
{%block content%}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="{%static 'css/login.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="clientregister"  method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="username" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<input type="file" name="photo" placeholder="Pick" required="">
					<button>Sign up</button>
					{% if error1 %}
					<div>{{error1}}</div>
					{% endif %}
				</form>
			</div>

			<div class="login">
				<form action="clientlogin" method="post">
					{% csrf_token %}
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required=""> 
					<button>Login</button>
					{% if error %}
					<div>{{error}}</div>
					{% endif %}

				</form>
			</div>
	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
{%endblock%}